.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: white;
    margin-bottom: 15px;
}

.toggletext{
    color: var(--color-primary);
}

.cardwrapper{
   margin-top: 18px;
}

.wrapper{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

